<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chimie</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/hub.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <nav>
        <div class="navl1">
            <div class="navTitle"><a href="#Home">Acasă</a></div>
        </div>
        <div class="navl1">
            <div class="navTitle"><a href="#Utilizari">Utilizări</a></div>
        </div>
        <div class="navl1">
            <div class="navTitle"><a href="#Exploatare">Exploatare</a></div>
        </div>
        <div class="navl1">
            <div class="navTitle"><a href="#Consecinte">Consecințe</a></div>
        </div>
        <div class="logo">
            <div class="fas fa-bars"></div>
        </div>
    </nav>
    <div class="lilnav">
        <div class="lilnavl1">
            <div class="navTitle"><a href="#Home">Home</a></div>
        </div>
        <div class="lilnavl1">
            <div class="navTitle"><a href="#Utilizari">Utilizari</a></div>
        </div>
        <div class="lilnavl1">
            <div class="navTitle"><a href="#Exploatare">Exploatare</a></div>
        </div>
        <div class="lilnavl1">
            <div class="navTitle"><a href="#Consecinte">Consecinte</a></div>
        </div>
    </div>
    <div id="Home">

        <h1 class="title" data-aos="zoom-in-up">Echipa noastra</h1>

        <div class="teamContainer">
            <div class="card">
                <div class="imgBx">
                    <img src="/images/cosmin.jpeg" alt="Image">
                </div>
                <div class="content">
                    <h2>Cosmin Posoiu</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, corporis blanditiis maxime ea
                        soluta eum ratione, repellat et impedit, consequuntur fuga maiores! Maxime dolor quam harum
                        mollitia
                        corrupti quae doloremque?</p>
                </div>
            </div>
            <div class="card">
                <div class="imgBx">
                    <img src="/images/andrei.png" alt="Image">
                </div>
                <div class="content">
                    <h2>Andrei Barbu</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, corporis blanditiis maxime ea
                        soluta eum ratione, repellat et impedit, consequuntur fuga maiores! Maxime dolor quam harum
                        mollitia
                        corrupti quae doloremque?</p>
                </div>
            </div>
            <div class="card">
                <div class="imgBx">
                    <img src="/images/mihnea.png" alt="Image">
                </div>
                <div class="content">
                    <h2>Mihnea Gușiță</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, corporis blanditiis maxime ea
                        soluta eum ratione, repellat et impedit, consequuntur fuga maiores! Maxime dolor quam harum
                        mollitia
                        corrupti quae doloremque?</p>
                </div>
            </div>
            <div class="card">
                <div class="imgBx">
                    <img src="/images/emi.png" alt="Image">
                </div>
                <div class="content">
                    <h2>Pițigoi Emanuel</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, corporis blanditiis maxime ea
                        soluta eum ratione, repellat et impedit, consequuntur fuga maiores! Maxime dolor quam harum
                        mollitia
                        corrupti quae doloremque?</p>
                </div>
            </div>
            <div class="card">
                <div class="imgBx">
                    <img src="/images/rares.png" alt="Image">
                </div>
                <div class="content">
                    <h2>Feraru Rareș</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, corporis blanditiis maxime ea
                        soluta eum ratione, repellat et impedit, consequuntur fuga maiores! Maxime dolor quam harum
                        mollitia
                        corrupti quae doloremque?</p>
                </div>
            </div>
        </div>

    </div>
    <div id="Utilizari">
        <h1 class="title" style="color: #fff; letter-spacing:2px;">Utilizări</h1>
        <div class="uContainer">
            <div class="uWrite" data-aos="zoom-in-up">
                <p class="write">Calcarul are o utilizare largă, diferențiată după caracteristicile rocii. De exemplu
                    calcarele cu o structură compactă, masivă vor fi folosite ca elemente decorative în construcții.</p>
                <p class="write">De asemenea calcarul este folosit în industria ceramicii și industria sticlei.
                    Roca măcinată mărunt este folosită ca amendamente chimice în agricultură pentru reducerea acidității
                    solului.</p>
                <p class="write">Este de asemenea folosit calcarul ca îngrășământ artificial a terenurilor agricole.</p>
                <p class="write">Formele pure de calcar sunt folosite pe scară largă de asemenea în industria chimică.
                </p>
                <p class="write">Calcarul cu o structură poroasă, mai ales calcarul format din fosile, joacă un rol de o
                    însemnătate economică imensă fiind un rezervor natural pentru zăcămintele de petrol și gaze
                    naturale.</p>
                <p class="write">Zăcămintele cele mai mari de pe glob și anume zăcămintele de petrol din
                    peninsula arabică se află în straturile poroase a unui calcar coraligen, care a luat naștere în
                    perioada cretacică și jurasică.</p>

            </div>
            <div class="uImages">
                <img data-aos="zoom-in-up"
                    src="https://piatracioplita.ro/wp-content/uploads/2018/01/Piatra-Naturala-Calcar-Gold-si-Gri-1.jpg"
                    alt="" class="image">
                <img data-aos="zoom-in-up" src="https://media0.webgarden.com/images/media0:4c77efdb4326f.jpg/Cana.JPG"
                    alt="" class="image">
            </div>
        </div>
    </div>
    <div id="Exploatare">
        <h1 class="title" style="color: #fff; letter-spacing:2px;">Exploatare</h1>
        <div class="uContainer">
            <div class="uImages">
                <img data-aos="zoom-in-up"
                    src="https://i2.wp.com/1nerudnyi.ru/wp-content/uploads/2017/06/Skrinshot-21-06-2017-120233.jpg"
                    alt="" class="image">
                <img data-aos="zoom-in-up"
                    src="https://i0.wp.com/img-fotki.yandex.ru/get/6002/delion.1a/0_42306_70c3b8ee_orig.jpg" alt=""
                    class="image">
            </div>
            <div class="uWrite" data-aos="zoom-in-up">
                <p class="write">Calcarul este o rocă sedimentară care constă în principal din carbonat de calciu
                    (formula: CaCO3). Cea mai mare parte este rezultatul depunerilor de cochilii dure și a cochiliilor
                    unor organisme marine antice. Calcarul format prin mijloace chimice este mai puțin frecvent.</p>
                <p class="write">Extracția se realizează prin exploatarea în groapă. Stratul superior de sol și
                    argilă este îndepărtat. Așa că formați o carieră. Mineritul calcarului
                    presupune efectuarea unor lucrări pirotehnice pentru măcinarea și
                    deconectarea porțiunilor de rocă. Apoi este scos de mașini pentru reciclare.</p>
                <p class="write">Există un dispozitiv special pentru un excavator
                    cu ajutorul căruia se poate realiza exploatarea
                    calcarului fără explozie. Șoferul schimbă
                    găleata într-un aparat montat care produce
                    slăbirea rocii. Această metodă este utilizată în
                    locații cu densitate mare a populației. Există o
                    metodă de exploatare cu o combină de frezare.
                    Aceasta este cea mai profitabilă opțiune. În
                    același timp, se efectuează exploatarea,
                    măcinarea, transportul rocii. </p>

            </div>

        </div>
    </div>
    <div id="Consecinte">
        <h1 class="title" style="color: #fff; letter-spacing:2px;">Consecințe</h1>
        <div class="uContainer">
            <div class="uWrite" data-aos="zoom-in-up">
                <p class="write">Industria minieră exercită asupra mediului înconjurător influențe
                    deosebite, care se manifestă în toate fazele proceselor tehnologice de
                    producție. Influența asupra factorilor de mediu începe odată cu
                    activitatea de prospectare și explorare a zăcămintelor și continuă și se
                    intensifică odată cu dezvoltarea activităților productive.</p>

                <p class="write">Întreaga activitate minieră produce, din cauza specificului său,
                    multiple și variate efecte negative asupra mediului, exemplificate prin:
                </p>
                <p class="write"> - modificări ale reliefului, manifestate prin degradarea peisajului și
                    strămutări ale gospodăriilor și obiectivelor industriale din zonele de
                    exploatare;</p>
                <p class="write"> - ocuparea unor mari suprafețe de teren pentru activitatea de exploatare,
                    haldare, depozitare a substanțelor minerale utile, instalații industriale, căi de
                    acces etc., suprafețe ce devin astfel total inutilizabile în alte scopuri, pentru o
                    perioadă lungă de timp;</p>
                <p class="write"> - degradarea terenului, prin deplasări pe verticală și orizontală ale suprafeței și
                    alunecarea haldelor și iazurilor de decantare, cu provocarea unor grave
                    accidente; </p>

            </div>
            <div class="uImages">
                <img data-aos="zoom-in-up"
                    src="https://www.bizlawyer.ro/images/uploaded/bigthumb_1280172811_CARIERA%20f.jpg" alt=""
                    class="image">
                <img data-aos="zoom-in-up"
                    src="http://turismbuzau.ro/wp-content/uploads/2017/04/cariera-calcar-badeni.jpg" alt=""
                    class="image">
            </div>
        </div>
    </div>

</body>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<script src="/js/hub.js"></script>

</html>